<h1>Welcome to Philio, the Twilio test app</h1>
<p> To initiate testing, visit <a href="/test">here</a>.</p>
<p>
  Expected behaviour includes:
  <ol>
    <li>the reading of a twilio test message</li>
    <li>a request to press a key</li>
    <li>a welcome message</li>
    <li>a request to enter a number</li>
    <li>a message responding that refers to the entered number<br>
      <strong>OR</strong><br>
      a message indicating a number was not successfully entered and to try again</li>
  </ol>
  Furthermore, the number entered should be stored in a file to demonstrate the process of
  running an app controlled seperate process during a call.
</p>
