<h1>Welcome to Philio, the Twilio test app</h1>
<p> To initiate testing, visit <a href="/test">here</a>.</p>
<p>
  Expected behaviour includes:
  <ol>
    <li>A welcome message</li>
    <li>Asking for, receiving, validating and confirming your DOB</li>
    <li>Asking for, receiving, validating and confirming your mobile number.</li>
    <li>Sending your details to traction to validate the mobile number is unique.</li>
    <li>Sending an SMS to your phone with a unique url.</li>
 </ol>
</p>
